@font-face {
font-family:'Pyidaungsu';
src:local('Pyidaungsu'), url('https://justsharing.github.io/webfonts/fonts/Pyidaungsu-2.5_Regular.ttf') format('ttf');
}
@font-face {
font-family:'Pyidaungsu';
src:local('Pyidaungsu'), url('https://justsharing.github.io/webfonts/fonts/Pyidaungsu-2.5_Bold.ttf') format('ttf');
font-weight:bold;
}

.pyidaungsuFont {font-family: "Pyidaungsu" !important;}
