@font-face {
font-family:'Zawgyi-One';
src:local('Zawgyi-One'), url('https://justsharing.github.io/webfonts/fonts/zawgyi.woff') format('woff'), url('https://justsharing.github.io/webfonts/fonts/zawgyi.ttf') format('ttf');
unicode-range: U+1000-109F;
}

* {font-family: "Zawgyi-One",Arial !important;}